<div class="list">
  <ng-container *ngIf="places.length>0; else NoResults" >
  <h3 class="list-title">{{title}}</h3>
  <perfect-scrollbar class="list-scrollbar">
    <ul class="list-scrollable">
      <li class="list-item"
          *ngFor="let place of places"
          (mouseenter)="onPlaceHover(place)"
          (mouseleave)="onPlaceNotHovered()">
        <span>{{place.name}}</span>
      </li>

    </ul>
  </perfect-scrollbar>
  </ng-container>
</div>
<ng-template #NoResults>
  <div class="list-no-results">
    <span>Please choose a location to get places suggestions</span>
  </div>
</ng-template>



