@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.list{
  height: 500px;
  width: 100%;
  &-title{
    color: grey;
    padding: 5px 10px;
  }
  &-item{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
    &:hover{
      background-color: rgba(152, 142, 222, 0.08);
    }
  }
  &-no-results{
    color: grey;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-scrollbar{
    max-height: 420px;
  }
  &-scrollable{
    margin: 0;
    padding: 0 10px;
  }
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .list{
      height: 200px;
      &-item {
        padding: 10px;
      }
      &-scrollbar{
        max-height: 120px;
      }
    }
}
