form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

mat-form-field{
  margin: 0 5px;
}

:host ::ng-deep {
  .mat-form-field-infix{
    width: 300px;
  }
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .form{
    flex-direction: column;
  }
  :host ::ng-deep {
    mat-form-field {
      width: 100%
    }
  }
}
